HIGHER_SALES_DATABASE_USER={DB_USER_NAME}
HIGHER_SALES_DATABASE_PASSWORD={DB_USER_PASSWORD}
REDIS_URL={REDIS_STRING}

# only for production
SECRET_KEY_BASE={SECRET}
HIGHER_SALES_DATABASE_HOST={POSTGRESQL_HOST}
HIGHER_SALES_DATABASE_PORT={POSTGRESQL_PORT}